<a href="https://colab.research.google.com/github/PIYUJIN/Business-Analytics_term-project/blob/main/Business_Analysis_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [168]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
# from pandas import DataFrame

In [169]:
sub_2021 = pd.read_excel('2021_sub_1.xlsx', engine='openpyxl')
sub_2020 = pd.read_excel('2020_sub_1.xlsx', engine='openpyxl')
sub_2019 = pd.read_excel('2019_sub_1.xlsx', engine='openpyxl')
sub_2018 = pd.read_excel('2018_sub_1.xlsx', engine='openpyxl')
sub_2017 = pd.read_excel('2017_sub_1.xlsx', engine='openpyxl')
sub_2016 = pd.read_excel('2016_sub_1.xlsx', engine='openpyxl')
sub_2015 = pd.read_excel('2015_sub_1.xlsx', engine='openpyxl')

In [170]:
# sub_2021
# sub_2020
# sub_2019
# sub_2018
# sub_2017
# sub_2016
sub_2015

    시도  Total_fertility_rate  Net_Mover  immigration
0   서울                 1.001    -137256        28328
1   부산                 1.139     -13560         3704
2   대구                 1.216     -12940         2332
3   인천                 1.216       9538         3956
4   광주                 1.207      -9272         1270
5   대전                 1.277     -20616         2878
6   울산                 1.486        -80         1462
7   세종                 1.893      53044          568
8   경기                 1.272      94768        28334
9   강원                 1.311       4773         1200
10  충북                 1.414       1438         1206
11  충남                 1.480      10272         2026
12  전북                 1.352      -2830         1532
13  전남                 1.549       3936          894
14  경북                 1.464       -577         1590
15  경남                 1.437       5105         2852
16  제주                 1.477      14257          560

In [171]:
main = pd.read_excel('merged_main_data_final.xlsx', engine='openpyxl')

In [172]:
main

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37,1,7
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26,1,7
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36,1,7
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23,1,7
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27,1,2
...,...,...,...,...,...,...,...,...,...,...,...
87428,2021,한국전통문화대학교,충남,인문계열,인문과학,기타모집단위,5,0,0,0,0
87429,2021,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,105,21,0,7
87430,2021,한국전통문화대학교,충남,공학계열,건축,전통조경학과,16,76,16,0,7
87431,2021,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,41,90,41,0,9
87432,2021,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0,0,0

**check and drop nan value**

In [173]:
# print(main.isnull().sum())
main = main.dropna(axis=0)
# print(main.isnull().sum())

In [174]:
# print(sub_2021.isnull().sum())
# print(sub_2020.isnull().sum())
# print(sub_2019.isnull().sum())
# print(sub_2018.isnull().sum())
# print(sub_2017.isnull().sum())
# print(sub_2016.isnull().sum())
# print(sub_2015.isnull().sum())

sub_2021 = sub_2021.dropna(axis=0)
sub_2020 = sub_2020.dropna(axis=0)
sub_2019 = sub_2019.dropna(axis=0)
sub_2018 = sub_2018.dropna(axis=0)
sub_2017 = sub_2017.dropna(axis=0)
sub_2016 = sub_2016.dropna(axis=0)
sub_2015 = sub_2015.dropna(axis=0)

# print(sub_2021.isnull().sum())
# print(sub_2020.isnull().sum())
# print(sub_2019.isnull().sum())
# print(sub_2018.isnull().sum())
# print(sub_2017.isnull().sum())
# print(sub_2016.isnull().sum())
# print(sub_2015.isnull().sum())

In [175]:
idx = main[main['모집인원_학부_계'] == 0].index
main.drop(idx, inplace=True)
main

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37,1,7
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26,1,7
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36,1,7
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23,1,7
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27,1,2
...,...,...,...,...,...,...,...,...,...,...,...
87427,2021,한국전통문화대학교,충남,인문계열,인문과학,융합고고학과,16,105,16,0,0
87428,2021,한국전통문화대학교,충남,인문계열,인문과학,기타모집단위,5,0,0,0,0
87429,2021,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,105,21,0,7
87430,2021,한국전통문화대학교,충남,공학계열,건축,전통조경학과,16,76,16,0,7
87431,2021,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,41,90,41,0,9

**merge data '학교명' & '학과명' column in main data**

In [176]:
# print(main['학교명'])
# print(main['학과명'])


main["학교_학과명"] = main['학교명'] +'_'+ main['학과명']

main.drop(["학교명"],axis=1,inplace=True)
main.drop(["학과명"],axis=1,inplace=True)

main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과
...,...,...,...,...,...,...,...,...,...,...
87427,2021,충남,인문계열,인문과학,16,105,16,0,0,한국전통문화대학교_융합고고학과
87428,2021,충남,인문계열,인문과학,5,0,0,0,0,한국전통문화대학교_기타모집단위
87429,2021,충남,공학계열,건축,21,105,21,0,7,한국전통문화대학교_전통건축학과
87430,2021,충남,공학계열,건축,16,76,16,0,7,한국전통문화대학교_전통조경학과
87431,2021,충남,예체능계열,응용예술,41,90,41,0,9,한국전통문화대학교_전통미술공예학과

In [177]:
main['competition_rate'] = main['지원자_전체_계'] / main['모집인원_학부_계']
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명,competition_rate
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과,6.263158
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과,5.703704
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과,5.078947
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과,5.130435
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과,6.444444
...,...,...,...,...,...,...,...,...,...,...,...
87427,2021,충남,인문계열,인문과학,16,105,16,0,0,한국전통문화대학교_융합고고학과,6.562500
87428,2021,충남,인문계열,인문과학,5,0,0,0,0,한국전통문화대학교_기타모집단위,0.000000
87429,2021,충남,공학계열,건축,21,105,21,0,7,한국전통문화대학교_전통건축학과,5.000000
87430,2021,충남,공학계열,건축,16,76,16,0,7,한국전통문화대학교_전통조경학과,4.750000
87431,2021,충남,예체능계열,응용예술,41,90,41,0,9,한국전통문화대학교_전통미술공예학과,2.195122

In [178]:
main['Total_fertility_rate']=0
main['Net_Mover']=0
main['immigration']=0
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과,6.263158,0,0,0
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과,5.703704,0,0,0
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과,5.078947,0,0,0
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과,5.130435,0,0,0
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과,6.444444,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87427,2021,충남,인문계열,인문과학,16,105,16,0,0,한국전통문화대학교_융합고고학과,6.562500,0,0,0
87428,2021,충남,인문계열,인문과학,5,0,0,0,0,한국전통문화대학교_기타모집단위,0.000000,0,0,0
87429,2021,충남,공학계열,건축,21,105,21,0,7,한국전통문화대학교_전통건축학과,5.000000,0,0,0
87430,2021,충남,공학계열,건축,16,76,16,0,7,한국전통문화대학교_전통조경학과,4.750000,0,0,0
87431,2021,충남,예체능계열,응용예술,41,90,41,0,9,한국전통문화대학교_전통미술공예학과,2.195122,0,0,0

**add schoolage column**

In [179]:
schoolage = pd.read_excel('school-age population.xlsx', engine='openpyxl')

In [180]:
main['schoolage']=0
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration,schoolage
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과,6.263158,0,0,0,0
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과,5.703704,0,0,0,0
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과,5.078947,0,0,0,0
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과,5.130435,0,0,0,0
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과,6.444444,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87427,2021,충남,인문계열,인문과학,16,105,16,0,0,한국전통문화대학교_융합고고학과,6.562500,0,0,0,0
87428,2021,충남,인문계열,인문과학,5,0,0,0,0,한국전통문화대학교_기타모집단위,0.000000,0,0,0,0
87429,2021,충남,공학계열,건축,21,105,21,0,7,한국전통문화대학교_전통건축학과,5.000000,0,0,0,0
87430,2021,충남,공학계열,건축,16,76,16,0,7,한국전통문화대학교_전통조경학과,4.750000,0,0,0,0
87431,2021,충남,예체능계열,응용예술,41,90,41,0,9,한국전통문화대학교_전통미술공예학과,2.195122,0,0,0,0

In [181]:
# for i in range(len(main)):
#     for j in range(len(schoolage)) :
#         if(main.iat[i,0] == schoolage.iat[j,0]):
#                     main.iat[i,14] = schoolage.iat[j,1]
#                     # print(main.iat[i,0])
#                     # print(schoolage.iat[j,0])
#                     # print(main.iat[i,14])
#                     # print(schoolage.iat[j,1])

In [182]:
main_2015 = main[main['연도']==2015]
# main_2015
main_2016 = main[main['연도']==2016]
# main_2016
main_2017 = main[main['연도']==2017]
# main_2017
main_2018 = main[main['연도']==2018]
# main_2018
main_2019 = main[main['연도']==2019]
# main_2019
main_2020 = main[main['연도']==2020]
# main_2020
main_2021 = main[main['연도']==2021]
# main_2021

In [183]:
main_2015.columns

Index(['연도', '시도', '대계열', '중계열', '모집인원_학부_계', '지원자_전체_계', '입학자_전체_계',
       'Gov_Spnsorship', 'awareness', '학교_학과명', 'competition_rate',
       'Total_fertility_rate', 'Net_Mover', 'immigration', 'schoolage'],
      dtype='object')

In [184]:
main_2015['schoolage'] = schoolage.iat[0,1]
main_2016['schoolage'] = schoolage.iat[1,1]
main_2017['schoolage'] = schoolage.iat[2,1]
main_2018['schoolage'] = schoolage.iat[3,1]
main_2019['schoolage'] = schoolage.iat[4,1]
main_2020['schoolage'] = schoolage.iat[5,1]
main_2021['schoolage'] = schoolage.iat[6,1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [185]:
main_ = main_2015
sub_ = sub_2015


for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2015_merge = main_
print(main_2015_merge)

         연도  시도    대계열    중계열  모집인원_학부_계  지원자_전체_계  입학자_전체_계  Gov_Spnsorship  \
0      2015  강원   인문계열  언어ㆍ문학         38       238        37               1
1      2015  강원   인문계열  언어ㆍ문학         27       154        26               1
2      2015  강원   인문계열  언어ㆍ문학         38       193        36               1
3      2015  강원   인문계열  언어ㆍ문학         23       118        23               1
4      2015  강원   인문계열   인문과학         27       174        27               1
...     ...  ..    ...    ...        ...       ...       ...             ...
11878  2015  충남   인문계열   인문과학         21       206        21               0
11879  2015  충남   인문계열   인문과학         21       139        21               0
11880  2015  충남   공학계열     건축         21       126        21               0
11881  2015  충남   공학계열     건축         21       100        20               0
11882  2015  충남  예체능계열   응용예술         42       142        40               0

       awareness              학교_학과명  competition_rate  Total_fertility_rate  \
0              7      강릉원주대학교_국어국문학과          6.263158                 1.311
1              7      강릉원주대학교_중어중문학과          5.703704                 1.311
2              7      강릉원주대학교_영어영문학과          5.078947                 1.311
3              7      강릉원주대학교_독어독문학과          5.130435                 1.311
4              2         강릉원주대학교_사학과          6.444444                 1.311
...          ...                 ...               ...                   ...
11878          2    한국전통문화대학교_문화유적학과          9.809524                 1.480
11879          2     한국전통문화대학교_보존과학과          6.619048                 1.480
11880          0    한국전통문화대학교_전통건축학과          6.000000                 1.480
11881          0    한국전통문화대학교_전통조경학과          4.761905                 1.480
11882          0  한국전통문화대학교_전통미술공예학과          3.380952                 1.480

       Net_Mover  immigration  schoolage
0           4773         1200       2755
1           4773         1200       2755
2           4773         1200       2755
3           4773         1200       2755
4           4773         1200       2755
...          ...          ...        ...
11878      10272         2026       2755
11879      10272         2026       2755
11880      10272         2026       2755
11881      10272         2026       2755
11882      10272         2026       2755

[6765 rows x 15 columns]

In [186]:
main_ = main_2016
sub_ = sub_2016

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2016_merge = main_
# print(main_2016_merge)

In [187]:
main_ = main_2017
sub_ = sub_2017

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2017_merge = main_
# print(main_2017_merge)

In [188]:
main_ = main_2018
sub_ = sub_2018

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2018_merge = main_
# print(main_2018_merge)

In [189]:
main_ = main_2019
sub_ = sub_2019

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2019_merge = main_
# print(main_2019_merge)

In [190]:
main_ = main_2020
sub_ = sub_2020

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2020_merge = main_
# print(main_2020_merge)

In [191]:
main_ = main_2021
sub_ = sub_2021

for i in range(len(main_)):
    for j in range(len(sub_)):
        if(main_.iat[i,1] == sub_.iat[j,0]):
            main_.iat[i,11] = sub_.iat[j,1]
            main_.iat[i,12] = sub_.iat[j,2]
            main_.iat[i,13] = sub_.iat[j,3]

main_2021_merge = main_
# print(main_2021_merge)

In [192]:
result_merge = pd.concat([main_2015_merge, main_2016_merge, main_2017_merge, main_2018_merge, main_2019_merge, main_2020_merge, main_2021_merge])

result_merge

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration,schoolage
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과,6.263158,1.311,4773,1200,2755
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과,5.703704,1.311,4773,1200,2755
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과,5.078947,1.311,4773,1200,2755
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과,5.130435,1.311,4773,1200,2755
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과,6.444444,1.311,4773,1200,2755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87427,2021,충남,인문계열,인문과학,16,105,16,0,0,한국전통문화대학교_융합고고학과,6.562500,0.963,8522,972,2258
87428,2021,충남,인문계열,인문과학,5,0,0,0,0,한국전통문화대학교_기타모집단위,0.000000,0.963,8522,972,2258
87429,2021,충남,공학계열,건축,21,105,21,0,7,한국전통문화대학교_전통건축학과,5.000000,0.963,8522,972,2258
87430,2021,충남,공학계열,건축,16,76,16,0,7,한국전통문화대학교_전통조경학과,4.750000,0.963,8522,972,2258
87431,2021,충남,예체능계열,응용예술,41,90,41,0,9,한국전통문화대학교_전통미술공예학과,2.195122,0.963,8522,972,2258

In [193]:
result_merge.to_excel('merged_data.xlsx', index = False)

In [194]:
result_merge.head()

,연도,시도,대계열,중계열,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness,학교_학과명,competition_rate,Total_fertility_rate,Net_Mover,immigration,schoolage
0,2015,강원,인문계열,언어ㆍ문학,38,238,37,1,7,강릉원주대학교_국어국문학과,6.263158,1.311,4773,1200,2755
1,2015,강원,인문계열,언어ㆍ문학,27,154,26,1,7,강릉원주대학교_중어중문학과,5.703704,1.311,4773,1200,2755
2,2015,강원,인문계열,언어ㆍ문학,38,193,36,1,7,강릉원주대학교_영어영문학과,5.078947,1.311,4773,1200,2755
3,2015,강원,인문계열,언어ㆍ문학,23,118,23,1,7,강릉원주대학교_독어독문학과,5.130435,1.311,4773,1200,2755
4,2015,강원,인문계열,인문과학,27,174,27,1,2,강릉원주대학교_사학과,6.444444,1.311,4773,1200,2755

In [195]:
# result_merge.dtypes

**split test data and trainval data with year**

- X = all variables that we have without '지원자_전체_계'
- y = '지원자_전체_계' in result_merge

In [196]:
result_merge = result_merge.drop('competition_rate',axis=1)
result_merge = result_merge.drop('학교_학과명',axis=1)
print(result_merge)

         연도  시도    대계열    중계열  모집인원_학부_계  지원자_전체_계  입학자_전체_계  Gov_Spnsorship  \
0      2015  강원   인문계열  언어ㆍ문학         38       238        37               1
1      2015  강원   인문계열  언어ㆍ문학         27       154        26               1
2      2015  강원   인문계열  언어ㆍ문학         38       193        36               1
3      2015  강원   인문계열  언어ㆍ문학         23       118        23               1
4      2015  강원   인문계열   인문과학         27       174        27               1
...     ...  ..    ...    ...        ...       ...       ...             ...
87427  2021  충남   인문계열   인문과학         16       105        16               0
87428  2021  충남   인문계열   인문과학          5         0         0               0
87429  2021  충남   공학계열     건축         21       105        21               0
87430  2021  충남   공학계열     건축         16        76        16               0
87431  2021  충남  예체능계열   응용예술         41        90        41               0

       awareness  Total_fertility_rate  Net_Mover  immigration  schoolage
0              7                 1.311       4773         1200       2755
1              7                 1.311       4773         1200       2755
2              7                 1.311       4773         1200       2755
3              7                 1.311       4773         1200       2755
4              2                 1.311       4773         1200       2755
...          ...                   ...        ...          ...        ...
87427          0                 0.963       8522          972       2258
87428          0                 0.963       8522          972       2258
87429          7                 0.963       8522          972       2258
87430          7                 0.963       8522          972       2258
87431          9                 0.963       8522          972       2258

[46526 rows x 13 columns]

In [197]:
test = result_merge[(result_merge['연도']==2020) | (result_merge['연도']==2021)]
X_test = test.drop('지원자_전체_계',axis=1)
y_test = test['지원자_전체_계']
print(X_test)
print(y_test)

         연도  시도    대계열    중계열  모집인원_학부_계  입학자_전체_계  Gov_Spnsorship  awareness  \
61748  2020  강원   인문계열  언어ㆍ문학         33        34               1          4
61749  2020  강원   인문계열  언어ㆍ문학         25        29               1          4
61750  2020  강원   인문계열  언어ㆍ문학         32        32               1          4
61751  2020  강원   인문계열  언어ㆍ문학         18        18               1          4
61752  2020  강원   인문계열   인문과학         20        23               1          0
...     ...  ..    ...    ...        ...       ...             ...        ...
87427  2021  충남   인문계열   인문과학         16        16               0          0
87428  2021  충남   인문계열   인문과학          5         0               0          0
87429  2021  충남   공학계열     건축         21        21               0          7
87430  2021  충남   공학계열     건축         16        16               0          7
87431  2021  충남  예체능계열   응용예술         41        41               0          9

       Total_fertility_rate  Net_Mover  immigration  schoolage
61748                 1.036       5457          446       2410
61749                 1.036       5457          446       2410
61750                 1.036       5457          446       2410
61751                 1.036       5457          446       2410
61752                 1.036       5457          446       2410
...                     ...        ...          ...        ...
87427                 0.963       8522          972       2258
87428                 0.963       8522          972       2258
87429                 0.963       8522          972       2258
87430                 0.963       8522          972       2258
87431                 0.963       8522          972       2258

[13298 rows x 12 columns]
61748    141
61749    117
61750    150
61751     82
61752    122
        ...
87427    105
87428      0
87429    105
87430     76
87431     90
Name: 지원자_전체_계, Length: 13298, dtype: int64

In [198]:
trainval = result_merge[(result_merge['연도']==2015) | (result_merge['연도']==2016) | (result_merge['연도']==2017) | (result_merge['연도']==2018) | (result_merge['연도']==2019)]
X_trainval = trainval.drop('지원자_전체_계',axis=1)
y_trainval = trainval['지원자_전체_계']
print(X_trainval)
print(y_trainval)

         연도  시도    대계열    중계열  모집인원_학부_계  입학자_전체_계  Gov_Spnsorship  awareness  \
0      2015  강원   인문계열  언어ㆍ문학         38        37               1          7
1      2015  강원   인문계열  언어ㆍ문학         27        26               1          7
2      2015  강원   인문계열  언어ㆍ문학         38        36               1          7
3      2015  강원   인문계열  언어ㆍ문학         23        23               1          7
4      2015  강원   인문계열   인문과학         27        27               1          2
...     ...  ..    ...    ...        ...       ...             ...        ...
61742  2019  충남   인문계열   인문과학         16        15               0          5
61743  2019  충남   인문계열   인문과학          2         0               0          5
61744  2019  충남   공학계열     건축         21        20               0          0
61745  2019  충남   공학계열     건축         16        16               0          0
61746  2019  충남  예체능계열   응용예술         41        40               0          0

       Total_fertility_rate  Net_Mover  immigration  schoolage
0                     1.311       4773         1200       2755
1                     1.311       4773         1200       2755
2                     1.311       4773         1200       2755
3                     1.311       4773         1200       2755
4                     1.311       4773         1200       2755
...                     ...        ...          ...        ...
61742                 1.112       -794         1796       2537
61743                 1.112       -794         1796       2537
61744                 1.112       -794         1796       2537
61745                 1.112       -794         1796       2537
61746                 1.112       -794         1796       2537

[33228 rows x 12 columns]
0        238
1        154
2        193
3        118
4        174
        ...
61742    138
61743      0
61744    154
61745    105
61746    145
Name: 지원자_전체_계, Length: 33228, dtype: int64

**feature scaling**

In [199]:
# from sklearn.model_selection import KFold
# kfold = KFold(n_splits=5, shuffle=True, random_state=0)

In [200]:
# scaler = StandardScaler()

# for train_idx, val_idx in kfold.split(X_trainval, y_trainval): # one more for statement inside the for statement for cross-validation

#         # get X_train, y_train, X_valid, y_valid 
#         X_train = X_trainval[train_idx]
#         y_train = y_trainval[train_idx]
#         X_valid = X_trainval[val_idx]
#         y_valid = y_trainval[val_idx]

#         # scale X_train, X_valid  
#         scaler.fit(X_train)
#         X_train_scaled = scaler.transform(X_train)
#         X_valid_scaled = scaler.transform(X_valid)

In [201]:
# # scale X_trainval, X_test  
# scaler.fit(X_trainval)
# X_trainval_scaled = scaler.transform(X_trainval)
# X_test_scaled = scaler.transform(X_test)